body {
margin: 0;
padding-top: 800px;
text-align: center;
}

.profile {
width: 200px;
margin-bottom: 50px;
border-radius: 50%;
margin-top: 150px;
}

#welcome {
position: absolute;
overflow: hidden;
height: 800px;
color: #FFFFFF;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0.83;
background: linear-gradient(#34c747 0%, #d6d018 100%);
display: table;
width: 100%;
height: 100%;
z-index: 9;
}

h1 {
font-size: 40px;
line-height: 1.2;
font-family: 'lato' ,sans-serif;
font-weight: 300;
}

#name {
font-size: 30px;
line-height: 1.2;
font-family: 'Moon Dance', cursive;
}

h2 {
font-size: 30px;
font-weight: 300;
}

.menu {
list-style: none;
font-family: sans-serif;
position: fixed;
top: 0px;
right: 30px;
z-index: 10;
cursor: pointer;
color: ghostwhite;
margin-top: 0px;
width: 100%;
    }
    
    .links {
color: ghostwhite;
padding-left: 33px;
padding-right: 25px;
font-family: fantasy;
font-size: 20px;
display: inline;
    }
    
    .links:hover {
        background-color: dodgerblue;
    }

Html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.artical:hover {
    color: fuchsia
}

.artical {
    font-size: 30px
}